* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.navbar{
    background: rgb(241, 239, 239);
    display: flex;
}

.nav-left{
    display: flex;
    justify-content: space-between;
}

.navbar-nav{
    display: flex;
}

.nav-link{
    font-weight: bold;
}

.header-container{
    margin-top: 100px;
}